In [1]:
import numpy as np
import pandas as pd
from statsmodels.multivariate.manova import MANOVA
url ='https://vincentarelbundock.github.io/Rdatasets/csv/datasets/iris.csv'
df = pd.read_csv(url, index_col=0)
df

     Sepal.Length  Sepal.Width  Petal.Length  Petal.Width    Species
1             5.1          3.5           1.4          0.2     setosa
2             4.9          3.0           1.4          0.2     setosa
3             4.7          3.2           1.3          0.2     setosa
4             4.6          3.1           1.5          0.2     setosa
5             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
146           6.7          3.0           5.2          2.3  virginica
147           6.3          2.5           5.0          1.9  virginica
148           6.5          3.0           5.2          2.0  virginica
149           6.2          3.4           5.4          2.3  virginica
150           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [2]:
df1 = pd.read_csv(url)
df1

,Unnamed: 0,Sepal.Length,Sepal.Width,Petal.Length,Petal.Width,Species
0,1,5.1,3.5,1.4,0.2,setosa
1,2,4.9,3.0,1.4,0.2,setosa
2,3,4.7,3.2,1.3,0.2,setosa
3,4,4.6,3.1,1.5,0.2,setosa
4,5,5.0,3.6,1.4,0.2,setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,virginica
146,147,6.3,2.5,5.0,1.9,virginica
147,148,6.5,3.0,5.2,2.0,virginica
148,149,6.2,3.4,5.4,2.3,virginica
149,150,5.9,3.0,5.1,1.8,virginica

In [3]:
df.columns = df.columns.str.replace(".", "_") 
df

     Sepal_Length  Sepal_Width  Petal_Length  Petal_Width    Species
1             5.1          3.5           1.4          0.2     setosa
2             4.9          3.0           1.4          0.2     setosa
3             4.7          3.2           1.3          0.2     setosa
4             4.6          3.1           1.5          0.2     setosa
5             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
146           6.7          3.0           5.2          2.3  virginica
147           6.3          2.5           5.0          1.9  virginica
148           6.5          3.0           5.2          2.0  virginica
149           6.2          3.4           5.4          2.3  virginica
150           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [4]:
df.head()

   Sepal_Length  Sepal_Width  Petal_Length  Petal_Width Species
1           5.1          3.5           1.4          0.2  setosa
2           4.9          3.0           1.4          0.2  setosa
3           4.7          3.2           1.3          0.2  setosa
4           4.6          3.1           1.5          0.2  setosa
5           5.0          3.6           1.4          0.2  setosa

In [5]:
# In this MANOVA example, we are going to use the width and length columns as dependent variables. Furthermore, the species column is used as independent variable. That is, we are carrying out a one-way MANOVA here:
maov = MANOVA.from_formula('Sepal_Length + Sepal_Width + Petal_Length + Petal_Width ~ Species', data=df)
print(maov)

<statsmodels.multivariate.manova.MANOVA object at 0x7fed29adfc90>

In [6]:
print(maov.mv_test())

                   Multivariate linear model
================================================================

----------------------------------------------------------------
       Intercept         Value  Num DF  Den DF   F Value  Pr > F
----------------------------------------------------------------
          Wilks' lambda  0.0170 4.0000 144.0000 2086.7720 0.0000
         Pillai's trace  0.9830 4.0000 144.0000 2086.7720 0.0000
 Hotelling-Lawley trace 57.9659 4.0000 144.0000 2086.7720 0.0000
    Roy's greatest root 57.9659 4.0000 144.0000 2086.7720 0.0000
----------------------------------------------------------------

----------------------------------------------------------------
        Species          Value  Num DF  Den DF   F Value  Pr > F
----------------------------------------------------------------
          Wilks' lambda  0.0234 8.0000 288.0000  199.1453 0.0000
         Pillai's trace  1.1919 8.0000 290.0000   53.4665 0.0000
 Hotelling-Lawley trace 32.4773 8.0000 203.4024  582.1970 0.0000
    Roy's greatest root 32.1919 4.0000 145.0000 1166.9574 0.0000
================================================================

In [7]:
import pandas as pd
import statsmodels.api as sm
from statsmodels.formula.api import ols
from statsmodels.multivariate.manova import MANOVA
from statsmodels.stats.multicomp import pairwise_tukeyhsd 

df = pd.read_csv('WineQuality.csv')
df=df.dropna ()
df

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6
4,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
...,...,...,...,...,...,...,...,...,...,...,...,...
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,6
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6

In [8]:
maov = MANOVA.from_formula('pH + sulphates~quality',data=df)
print(maov.mv_test())

                    Multivariate linear model
=================================================================

-----------------------------------------------------------------
       Intercept         Value  Num DF   Den DF   F Value  Pr > F
-----------------------------------------------------------------
          Wilks' lambda  0.0872 2.0000 1596.0000 8356.0474 0.0000
         Pillai's trace  0.9128 2.0000 1596.0000 8356.0474 0.0000
 Hotelling-Lawley trace 10.4712 2.0000 1596.0000 8356.0474 0.0000
    Roy's greatest root 10.4712 2.0000 1596.0000 8356.0474 0.0000
-----------------------------------------------------------------

-----------------------------------------------------------------
           quality         Value  Num DF   Den DF  F Value Pr > F
-----------------------------------------------------------------
             Wilks' lambda 0.9367 2.0000 1596.0000 53.9016 0.0000
            Pillai's trace 0.0633 2.0000 1596.0000 53.9016 0.0000
    Hotelling-Lawley trace 0.0675 2.0000 1596.0000 53.9016 0.0000
       Roy's greatest root 0.0675 2.0000 1596.0000 53.9016 0.0000
=================================================================

In [9]:
reg=ols('pH~quality',data=df).fit()
aov=sm.stats.anova_lm(reg,type=2)
print(aov)

              df     sum_sq   mean_sq         F    PR(>F)
quality      1.0   0.126946  0.126946  5.340462  0.020963
Residual  1597.0  37.961672  0.023771       NaN       NaN

In [10]:
import pandas as pd
import statsmodels.api as sm
from statsmodels.formula.api import ols
from statsmodels.multivariate.manova import MANOVA
from statsmodels.stats.multicomp import pairwise_tukeyhsd

df = pd.read_csv('WineQuality.csv')
maov = MANOVA.from_formula('pH +sulphates~quality+alcohol',data=df)
print(maov.mv_test())

                   Multivariate linear model
================================================================

----------------------------------------------------------------
       Intercept        Value  Num DF   Den DF   F Value  Pr > F
----------------------------------------------------------------
          Wilks' lambda 0.1811 2.0000 1595.0000 3606.6776 0.0000
         Pillai's trace 0.8189 2.0000 1595.0000 3606.6776 0.0000
 Hotelling-Lawley trace 4.5225 2.0000 1595.0000 3606.6776 0.0000
    Roy's greatest root 4.5225 2.0000 1595.0000 3606.6776 0.0000
----------------------------------------------------------------

----------------------------------------------------------------
          quality         Value  Num DF   Den DF  F Value Pr > F
----------------------------------------------------------------
            Wilks' lambda 0.9268 2.0000 1595.0000 62.9702 0.0000
           Pillai's trace 0.0732 2.0000 1595.0000 62.9702 0.0000
   Hotelling-Lawley trace 0.0790 2.0000 1595.0000 62.9702 0.0000
      Roy's greatest root 0.0790 2.0000 1595.0000 62.9702 0.0000
----------------------------------------------------------------

----------------------------------------------------------------
          alcohol         Value  Num DF   Den DF  F Value Pr > F
----------------------------------------------------------------
            Wilks' lambda 0.9291 2.0000 1595.0000 60.8625 0.0000
           Pillai's trace 0.0709 2.0000 1595.0000 60.8625 0.0000
   Hotelling-Lawley trace 0.0763 2.0000 1595.0000 60.8625 0.0000
      Roy's greatest root 0.0763 2.0000 1595.0000 60.8625 0.0000
================================================================

In [11]:
reg=ols('pH~quality+alcohol',data=df).fit()
aov=sm.stats.anova_lm(reg,type=2)
print(aov)

              df     sum_sq   mean_sq           F        PR(>F)
quality      1.0   0.126946  0.126946    5.742024  1.667820e-02
alcohol      1.0   2.676911  2.676911  121.082026  3.386040e-27
Residual  1596.0  35.284761  0.022108         NaN           NaN

In [12]:
reg=ols('sulphates~quality+alcohol',data=df).fit()
aov=sm.stats.anova_lm(reg,type=2)
print(aov)

              df     sum_sq   mean_sq           F        PR(>F)
quality      1.0   2.901833  2.901833  107.774412  1.775265e-24
alcohol      1.0   0.040486  0.040486    1.503658  2.202902e-01
Residual  1596.0  42.972402  0.026925         NaN           NaN